.darkmode{
    color: white;
    background-color: black;
}
.lightmode{
    color: black;
    background-color: white;
}

.Hola{
    font-size: 50px;
    color: red;
    font-weight: bolder;
}
.Adios{
    visibility: hidden;
}
.Grande{
    font-size: 200px;
}
.Pequeño{
    size: 5px;
}
.Amarillo_y_Azul{
    color: yellow;
    background-color: blue;
}
.base{
    font-size: 40px;
    color: black;
    visibility: visible;
    background-color: white;
}